-10,17 +10,27 @@

<style>
    body {
        background-color: #ededed;
        background: rgb(238,174,202);
        background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
      }

      .player {
        margin: auto;
        margin-top: 25vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        left: 50%;
      }

</style>

<body>
    <div class="player">


          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/{{context['mood']}}?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>     </div>
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/{{context['mood']}}?utm_source=generator" width="50%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>     
    </div>

</body>

